<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.just.manager.dao.IScoreMapper">

    <resultMap id="scoreMap" type="score">
        <id property="stuNo" column="stuno"></id>
        <id property="cId" column="cid"></id>
        <result property="score" column="score"></result>
        <association property="course" javaType="course">
            <id property="cId" column="cid"></id>
            <result property="cName" column="cname"></result>
            <result property="credit" column="credit"></result>
            <result property="teacher" column="teacher"></result>
            <result property="startDate" column="startDate"  jdbcType="DATE"></result>
            <result property="endDate" column="endDate" jdbcType="DATE"></result>
        </association>
    </resultMap>

    <select id="selectByStuNo" parameterType="java.lang.String" resultMap="scoreMap">
        select sc.*,c.* from score sc,course c where sc.stuno = #{stuNo} and sc.cid=c.cid
    </select>


</mapper>